@font-face {
font-family: 'Enter-Sansman-Bold-Italic';
  src: url('Enter-Sansman-Bold-Italic.ttf.woff') format('woff'),
       url('Enter-Sansman-Bold-Italic.ttf.svg#Enter-Sansman-Bold-Italic') format('svg'),
       url('Enter-Sansman-Bold-Italic.ttf.eot'),
       url('Enter-Sansman-Bold-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

td.details-control {
  text-align: center;
  color: forestgreen;
  cursor: pointer;
}
tr.shown td.details-control {
  text-align: center; 
  color: red;
}

body {
  font-family: sans-serif;
}

.ourteamname {
  font-size: 14mm;
  background-color: white;
  color: black;
}
.overall {
  font-size: 14mm;
  background-color: orange;
  color: white;
}

/* Height of table rows */
tr {
  height: auto;
}

/* Height of table heading font */
.dataTable th {
  font-size: 14mm;
}

/* Height of table row font */
.dataTable td {
  font-size: 12mm;
}

/* Detail table row font */
.set td {
  font-size: 12mm;
  height: 16mm;
}

.percent, .win, .lose, .tie {
  color: white;
  font-weight: bold;
  text-align: right;
}
.win {
  background-color: limegreen;
}
.lose {
  background-color: red;
}
.tie {
  background-color: gold;
}
.unplayed {
}

.invisible {
  display: none;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 25vmin;
  width: 25vmin;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

p, .cond {
  font-size: 66.7%;
  transform: scaleY(1.5);
}
p {
  padding: .5em 0;
}

.round {
  text-decoration: underline;
}

.heading {
  font-weight: bold;
}

table.sets tbody tr.evenopp {
}
table.sets tbody tr.oddopp {
  background-color: #f9f9f9;
}
/*
@media (pointer: coarse),
       (-moz-touch-enabled) {
    .ourteamname {
        font-size: 4vmin;
    }
    .overall {
        font-size: 5vmin;
        border-spacing: 2vmin 0;
        height: 5vmin;
    }
*/
    /* Height of table rows */
/*    tr {
        height: 10vmin;
    }
*/    
    /* Height of table heading font */
/*    .dataTable th {
        font-size: 4vmin;
    }
*/    
    /* Height of table row font */
/*    .dataTable td {
        font-size: 4vmin;
    }
*/    
    /* Detail table row font */
/*    .set td {
        font-size: 3.5vmin;
        height: 3.5vmin;
    }
    .cond {
        font-size: 2.67vmin;
    }
}
*/