@font-face {
font-family: 'Enter-Sansman-Bold-Italic';
  src: url('Enter-Sansman-Bold-Italic.ttf.woff') format('woff'),
       url('Enter-Sansman-Bold-Italic.ttf.svg#Enter-Sansman-Bold-Italic') format('svg'),
       url('Enter-Sansman-Bold-Italic.ttf.eot'),
       url('Enter-Sansman-Bold-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: sans-serif;
}
body,
.overall,
.teampage,
.foepage, 
.tourneypage,
.playerpage {
  margin: 0;
  font-size: 14px;
}
@media (pointer: coarse),
       (-moz-touch-enabled) {
  body,
  .overall,
  .teampage,
  .foepage, 
  .tourneypage,
  .playerpage {
    font-size: 4.5vmin;
  }
}
.overallcenter {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: .2em;
}
.overall {
  width: auto;
  background-color: maroon;
  display: inline-block;
  align-content: center;
  border-radius: .5em;
}
.overalltable {
  color: white;
  font-weight: bold;
  padding: .5em;
}
.overalltable tbody td {
  padding-left: .5em;
}
.pagecontainer {
  font-size: 0;
}

table, tr, th, td {
  font-size: inherit;
  border-spacing: 0;
  padding: 0;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 25vmin;
  width: 25vmin;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.invisible {
  visibility: hidden !important;
}
.gone {
  display: none !important;
}

td.details-control {
  text-align: center;
  color: forestgreen;
  cursor: pointer;
  min-width: 2em;
}
tr.shown td.details-control {
  text-align: center; 
  color: red;
}
.dataTable thead th {
  position: relative;
  background-image: none !important;
}
.dataTable thead th.sorting:after,
.dataTable thead th.sorting_asc:after,
.dataTable thead th.sorting_desc:after {
  position: absolute;
  display: block;
  font-family: "Font Awesome 5 Free";
  top: .9em;
  right: .1em;
}
.dataTable thead th.sorting:after {
  content: "\f0dc";
  color: black;
  font-size: 0.8em;
  padding-top: 0.12em;
}
.dataTable thead th.sorting_asc:after {
  content: "\f0de";
}
.dataTable thead th.sorting_desc:after {
  content: "\f0dd";
  top: .67em;
}
.dataTable>thead>tr>th>p,
.dataTable>tbody>tr>td>p {
  font-size: calc(100% / calc(3/2));
  transform: scaleY(calc(3/2));
}
.dataTable>thead>tr>th {
  padding-left: .33em;
  padding-right: .67em;
  height: 2.5em;
}
.dataTable>tbody>tr>td {
  padding: .5em .25em;
}

.masthead {
  font-size: 0;
}
.clubbanner, .teambanner {
  font-family: 'Enter-Sansman-Bold-Italic';
  letter-spacing: -.05em;
  text-align: center;
  padding: .2em .2em 0 .2em;
}
.clubbanner {
  color: #555;
  font-size: calc(9vmin / calc(3/2));
  transform: scaleY(calc(3/2));
}
.teambanner {
  font-size: 7vmin;
  {  color: maroon; }
}
{ .teambannernolink {
  color: #805050;
} }
.teambanner>span, .clubbanner>span {
  transform: scaleX(.75);
  font-size: 85%;
  letter-spacing: normal;
}
.teambanner>span, .clubbanner>span {
  transform: scaleX(.75);
  font-size: 85%;
  letter-spacing: normal;
}

.navbar {
  background-color: lightgray;
  font-size: 1em;
  width: 100%;
}
@media (pointer: coarse),
       (-moz-touch-enabled) {
  .navbar {
    font-size: 4vmin; /* Fit width to mobile screen */
  }
}
.navbar>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}
.navbar>ul>li {
  float: left;
  background-color: inherit;
}
.navbar>ul>li:first-child {
  background-color: lightgray;
}
.navbar>ul>li>a {
  display: block;
  color: white;
  padding: 1em .25em;
  text-decoration: none;
  background-color: inherit;
}
.navbar>ul>li:first-child>a {
  color: black;
}
.activetab {
  color: white !important;
  background-color: maroon !important;
}
#txtteams:before {
  content: "Teams";
}
#txtplayers:before {
  content: "Players";
}
#txttourneys:before {
  content: "Tourneys";
}
#txtfoes:before {
  content: "Foes";
}
#txtpics:before {
  content: "Pics";
}

.win {
  color: white;
  background-color: limegreen !important;
}
.lose {
  color: white;
  background-color: red !important;
}
.tie {
  background-color: yellow !important;
}

.pagecontainer {
  display: inline-block;
  width: 100%;
}

.teamlist {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style-type: none;
  padding: 0;
  font-size: 6vmin;
  text-align: center;
  font-weight: bold;
  font-family: 'Enter-Sansman-Bold-Italic';
  color: #555;
}
.teamlist>li>a {
  text-decoration: none;
}

.foetable>tbody>tr>td:nth-child(4)>p,
.foetable>tbody>tr>td:nth-child(5)>p {
  font-size: calc(100% / calc(5/4));
  transform: scaleY(calc(5/4));
}
.foetable>thead>tr>th:nth-child(2)>span:before {
  content: "Opponent";
}
.foetable>thead>tr>th:nth-child(3)>p:before {
  content: "Rk";
}
.foetable>thead>tr>th:nth-child(4)>p:before {
  content: "Win%";
}
.foetable>thead>tr>th:nth-child(5)>span:before {
  content: "Us";
}
.foetable>thead>tr>th:nth-child(6)>p:before {
  content: "Thm";
}
.foetable thead th:nth-child(2).sorting_asc:after,
.foetable thead th:nth-child(2).sorting_desc:after {
  right: 2.25em;
}
.foetable thead th:nth-child(2).sorting:after {
  right: 2.9em;
}
.foetable thead th:nth-child(4).sorting:after,
.foetable thead th:nth-child(4).sorting_asc:after,
.foetable thead th:nth-child(4).sorting_desc:after {
  right: .2em;
}
.sets>thead>tr>th {
  padding: 0;
}
.set>td {
  padding: .5em !important;
}
.sets>thead>tr>th>p,
.set>td>p,
.cond {
  font-size: calc(100% / calc(3/2)) !important;
  transform: scaleY(calc(3/2));
}
.heading {
  font-weight: bold;
}
.round {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap !important;
}

/* LANDSCAPE */
@media screen and (min-aspect-ratio: 1/1) {
  .masthead {
    width: 100%;
    text-align: center;
  }
  .clubbanner, .teambanner {
    display: inline-block;
  }

  .navbar {
    display: inline-block;
    float: left;
    width: auto;
  }
  .navbar>ul>li, .navbar>ul>li:first-child {
    float: none;
    display: block;
    padding: 0;
  }
  .navbar>ul>li>a {
    display: block;
    padding: 1em;
  }
  #txtteams:before {
    content: "Teams";
  }
  #txtplayers:before {
    content: "Players";
  }
  #txttourneys:before {
    content: "Tournaments";
  }
  #txtfoes:before {
    content: "Opponents";
  }
  #txtpics:before {
    content: "Photos";
  }

  .teamlist {
    text-align: left;
  }

  .pagecontainer {
    display: block;
    width: auto;
    overflow: hidden;
  }

  .foetable>tbody>tr>td:nth-child(2)>p {
    font-size: calc(100% / calc(5/4));
    transform: scaleY(calc(5/4));
  }
  .foetable>tbody>tr>td:nth-child(3)>p,
  .foetable>tbody>tr>td:nth-child(4)>p {
    font-size: 100%;
    transform: none;
  }
  .foetable thead th:nth-child(2).sorting_asc:after,
  .foetable thead th:nth-child(2).sorting_desc:after {
    right: 5.75em;
  }
  .foetable thead th:nth-child(2).sorting:after {
    right: 7.4em;
  }
  .foetable>thead>tr>th:nth-child(2)>span:before {
    content: "Opponent";
  }
  .foetable>thead>tr>th:nth-child(3)>p:before {
    content: "Rank";
  }
  .foetable>thead>tr>th:nth-child(4)>p:before {
    content: "Win%";
  }
  .foetable>thead>tr>th:nth-child(5)>span:before {
    content: "Us";
  }
  .foetable>thead>tr>th:nth-child(6)>p:before {
    content: "Them";
  }
  .sets>thead>tr>th>p,
  .set>td>p {
    font-size: calc(100% / calc(5/4)) !important;
    transform: scaleY(calc(5/4));
  }
}